* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.slide {
  width: 100%;
  height: 415px;
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.329);
}

img {
  width: 100%;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

.logo {
  width: 100px;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.subtitle {
  height: 50px;
  padding: 10px;
  font-weight: bold;
}

h3 {
  color: rgb(62, 253, 62);
  text-shadow: black 1px 1px 3px;
}

span {
  color: black;
  text-shadow: none;
}

footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  height: 20px;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
}
.iconwhats {
  width: 20px;
}

.btn {
  font-weight: bold;
  padding: 10px;
  background-color: rgb(62, 253, 62);
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}
@media screen and (min-width: 320px) {
  .slide {
    width: 100%;
    height: 100% auto;
  }
  img {
    width: 350px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
}
